<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit-mode="true">
   <div ng-if="ctrl.target.rawMode">
      <div class="gf-form">
         <textarea
            rows="6"
            class="gf-form-input"
            ng-model="ctrl.target.rawQuery"
            spellcheck="false"
            placeholder="Raw Query">
         </textarea>
      </div>
   </div>

   <div ng-if=" ! ctrl.target.rawMode">
      <div class="gf-form-inline">
         <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-7">Object</label>
            <metric-segment-model
               property="ctrl.target.object"
               custom="false"
               get-options="ctrl.loadObjectList()"
               on-change="ctrl.objectChanged()">
            </metric-segment-model>
            <input
               ng-show="ctrl.target.object !== 'Select object'"
               type="text"
               class="gf-form-input"
               ng-model="ctrl.target.object_opts"
               spellcheck="false"
               placeholder="Object options (JSON)" />
         </div>
      </div>

      <div ng-if="ctrl.target.object && ctrl.target.object !== 'Select object'">

         <div class="gf-form-inline" ng-repeat="grp in ctrl.target.groups">
            <div class="gf-form gf-form--grow">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="$first">Groups</span>&nbsp;
               </label>
               <metric-segment-model
                  property="grp.name"
                  custom="false"
                  get-options="ctrl.loadGroupList()">
               </metric-segment-model>
               <label class="gf-form-label">
                  <a class="pointer" ng-click="ctrl.target.groups.splice($index, 1)">
                     <i class="fa fa-trash"></i>
                  </a>
               </label>
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="ctrl.target.groups.length === 0">Groups</span>&nbsp;
               </label>
               <metric-segment-model
                  ng-if="ctrl.groupSelection === '+'"
                  property="ctrl.groupSelection"
                  custom="false"
                  get-options="ctrl.loadGroupList()"
                  on-change="ctrl.addGroup()">
               </metric-segment-model>
            </div>
         </div>

         <div class="gf-form-inline" ng-repeat="field in ctrl.target.fields">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="$first">Fields</span>&nbsp;
               </label>
            </div>
            <div class="gf-form gf-form--grow" ng-class="{'gf-form-disabled': field.hide}">
               <metric-segment-model
                  property="field.name"
                  custom="false"
                  get-options="ctrl.getFieldList()">
               </metric-segment-model>

               <label ng-if="ctrl.fieldHasFormats(field.name)" class="gf-form-label query-keyword">Format</label>
               <metric-segment-model
                  ng-if="ctrl.fieldHasFormats(field.name)"
                  property="field.format"
                  custom="false"
                  get-options="ctrl.getFormatList(field.name)">
               </metric-segment-model>

               <label
                  ng-if="ctrl.target.groupby.length > 0 || (ctrl.target.output === 'ts_table' && field.name !== ctrl.target.pivot_field)"
                  class="gf-form-label query-keyword">Aggregation Type</label>
               <metric-segment-model
                  ng-if="ctrl.target.groupby.length > 0 || (ctrl.target.output === 'ts_table' && field.name !== ctrl.target.pivot_field)"
                  property="field.aggregation_format"
                  class="no-wrap"
                  custom="false"
                  get-options="ctrl.getAggregationFormatList()">
               </metric-segment-model>
               <input
                  type="text"
                  ng-if=" ! ctrl.fieldHasFormats(field.name) || field.format !== 'Select format'"
                  class="gf-form-input width-10"
                  ng-model="field.alias"
                  spellcheck="false"
                  placeholder="Alias" />
               <input
                  type="text"
                  ng-if=" ! ctrl.fieldHasFormats(field.name) || field.format !== 'Select format'"
                  class="gf-form-input"
                  ng-model="field.opts"
                  spellcheck="false"
                  placeholder="Field Options (JSON)" />
               <label class="gf-form-label" ng-hide="$first">
                  <a class="pointer">
                     <i class="fa fa-arrow-up" ng-click="ctrl.moveRow(ctrl.target.fields, $index, $index - 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label" ng-style="{'visibility': $last ? 'hidden' : 'visible'}" ng-hide="ctrl.target.fields.length === 1">
                  <a class="pointer">
                     <i class="fa fa-arrow-down" ng-click="ctrl.moveRow(ctrl.target.fields, $index, $index + 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label">
                  <a class="pointer" ng-click="field.hide = ! field.hide">
                     <i class="fa fa-eye"></i>
                  </a>
               </label>
               <label class="gf-form-label">
                  <a class="pointer" ng-click="ctrl.removeField($index)">
                     <i class="fa fa-trash"></i>
                  </a>
               </label>
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="ctrl.target.fields.length === 0">Fields</span>&nbsp;
               </label>
               <metric-segment-model
                  ng-if="ctrl.fieldSelection === '+'"
                  property="ctrl.fieldSelection"
                  custom="false"
                  get-options="ctrl.getFieldList()"
                  on-change="ctrl.addField()">
               </metric-segment-model>
            </div>
         </div>

         <div class="gf-form-inline" ng-repeat="filter in ctrl.target.filters">
            <div class="gf-form gf-form--grow">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="$first">Filters</span>&nbsp;
               </label>
               <metric-segment-model
                  property="filter.field"
                  custom="false"
                  get-options="ctrl.getSelectedFields()"
                  on-change="ctrl.filterUpdated($index)">
               </metric-segment-model>
               <metric-segment-model
                  ng-if="ctrl.aliasHasFormats(filter.field)"
                  property="filter.format"
                  custom="false"
                  get-options="ctrl.getAliasFormats(filter.field)">
               </metric-segment-model>
               <input
                  type="text"
                  ng-if=" ! ctrl.aliasHasFormats(filter.field) || filter.format !== 'Select format'"
                  class="gf-form-input width-10"
                  ng-model="filter.query"
                  spellcheck="false"
                  placeholder="Query" />
               <label class="gf-form-label">
                  <a class="pointer" ng-click="ctrl.target.filters.splice($index, 1)">
                     <i class="fa fa-trash"></i>
                  </a>
               </label>
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="ctrl.target.filters.length === 0">Filters</span>&nbsp;
               </label>
               <metric-segment-model
                  ng-if="ctrl.filterSelection === '+'"
                  property="ctrl.filterSelection"
                  custom="false"
                  get-options="ctrl.getSelectedFields()"
                  on-change="ctrl.addFilter()">
               </metric-segment-model>
            </div>
         </div>

         <div class="gf-form-inline" ng-repeat="sort in ctrl.target.sortby">
            <div class="gf-form gf-form--grow">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="$first">Sort By</span>&nbsp;
               </label>
               <metric-segment-model
                  property="sort.field"
                  custom="false"
                  get-options="ctrl.getSelectedFields()">
               </metric-segment-model>
               <metric-segment-model
                  ng-if="ctrl.aliasHasFormats(sort.field)"
                  property="sort.format"
                  custom="false"
                  get-options="ctrl.getAliasFormats(sort.field)">
               </metric-segment-model>
               <metric-segment-model
                  ng-if=" ! ctrl.aliasHasFormats(sort.field) || sort.format !== 'Select format'"
                  property="sort.order"
                  custom="false"
                  options="ctrl.sortDirections">
               </metric-segment-model>
               <label class="gf-form-label" ng-hide="$first">
                  <a class="pointer">
                     <i class="fa fa-arrow-up" ng-click="ctrl.moveRow(ctrl.target.sortby, $index, $index - 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label" ng-style="{'visibility': $last ? 'hidden' : 'visible'}" ng-hide="ctrl.target.sortby.length === 1">
                  <a class="pointer">
                     <i class="fa fa-arrow-down" ng-click="ctrl.moveRow(ctrl.target.sortby, $index, $index + 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label">
                  <a class="pointer" ng-click="ctrl.target.sortby.splice($index, 1)">
                     <i class="fa fa-trash"></i>
                  </a>
               </label>
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="ctrl.target.sortby.length === 0">Sort By</span>&nbsp;
               </label>
               <metric-segment-model
                  ng-if="ctrl.sortSelection === '+'"
                  property="ctrl.sortSelection"
                  custom="false"
                  get-options="ctrl.getSelectedFields()"
                  on-change="ctrl.addSort()">
               </metric-segment-model>
            </div>
         </div>

         <div ng-show="ctrl.target.output !== 'ts_table'" class="gf-form-inline" ng-repeat="aggr in ctrl.target.groupby">
            <div class="gf-form gf-form--grow">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="$first">Group By</span>&nbsp;
               </label>
               <metric-segment-model
                  property="aggr.field"
                  custom="false"
                  get-options="ctrl.getGroupbyOptions()">
               </metric-segment-model>
               <metric-segment-model
                  ng-if="ctrl.aliasHasFormats(aggr.field)"
                  property="aggr.format"
                  custom="false"
                  get-options="ctrl.getAliasFormats(aggr.field)">
               </metric-segment-model>
               <input
                  type="text"
                  ng-if=" aggr.field === '~Custom~'"
                  class="gf-form-input"
                  ng-model="aggr.custom"
                  spellcheck="false"
                  placeholder="Custom grouping Formula. eg. {cdt_device} || '.' || {name}" />
               </metric-segment-model>
               <label class="gf-form-label" ng-hide="$first">
                  <a class="pointer">
                     <i class="fa fa-arrow-up" ng-click="ctrl.moveRow(ctrl.target.groupby, $index, $index - 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label" ng-style="{'visibility': $last ? 'hidden' : 'visible'}" ng-hide="ctrl.target.groupby.length === 1">
                  <a class="pointer">
                     <i class="fa fa-arrow-down" ng-click="ctrl.moveRow(ctrl.target.groupby, $index, $index + 1)"></i>
                  </a>
               </label>
               <label class="gf-form-label">
                  <a class="pointer" ng-click="ctrl.target.groupby.splice($index, 1)">
                     <i class="fa fa-trash"></i>
                  </a>
               </label>
            </div>
         </div>

         <div ng-show="ctrl.target.output !== 'ts_table'" class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">
                  <span ng-show="ctrl.target.groupby.length === 0">Group By</span>&nbsp;
               </label>
               <metric-segment-model
                  ng-if="ctrl.aggrSelection === '+'"
                  property="ctrl.aggrSelection"
                  custom="false"
                  get-options="ctrl.getGroupbyOptions()"
                  on-change="ctrl.addAggr()">
               </metric-segment-model>
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form gf-form--grow">
               <label class="gf-form-label query-keyword width-7">Adv. Filter</label>
               <input
                  type="text"
                  class="gf-form-input"
                  ng-model="ctrl.target.adv_filter"
                  spellcheck="false"
                  placeholder="Advanced filter" />
            </div>
         </div>

         <div class="gf-form-inline">
            <div class="gf-form">
               <label class="gf-form-label query-keyword width-7">Limit</label>
               <input
                  type="text"
                  class="gf-form-input width-5"
                  ng-model="ctrl.target.limit"
                  spellcheck="false" />
               <label class="gf-form-label query-keyword width-5">Offset</label>
               <input
                  type="text"
                  class="gf-form-input width-5"
                  ng-model="ctrl.target.offset"
                  spellcheck="false" />
               <label class="gf-form-label query-keyword width-5">Output</label>
               <metric-segment-model
                  property="ctrl.target.output"
                  custom="false"
                  options="ctrl.outputModes">
               </metric-segment-model>
               <label ng-if="ctrl.target.output === 'ts_table'" class="gf-form-label query-keyword">Time Field</label>
               <metric-segment-model
                  ng-if="ctrl.target.output === 'ts_table'"
                  property="ctrl.target.pivot_field"
                  custom="false"
                  get-options="ctrl.getSelectedFields()">
               </metric-segment-model>
               <label class="gf-form-label query-keyword">Interval Override</label>
               <input
                  type="text"
                  class="gf-form-input width-10"
                  ng-model="ctrl.target.interval"
                  spellcheck="false"
                  placeholder="eg. 60s, 5m, 1d" />
            </div>
         </div>
      </div>
   </div>
</query-editor-row>
